PORT=3000
DISCORD_HOOK_URL=https://discord.com/api/webhooks/13633481213046193815/asasdasd

# For development porpouse, DON'T use on production
# Create a secret token with Ruby per example

SECRET_TOKEN_WEBHOOK=4510c8cf2fe423f8be5afccbdd30c678677e172b
